@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "ukiranregular";
  src: url("ukiran-webfont.woff2") format("woff2"),
    url("ukiran-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  font-family: "Arima", system-ui;
font-family: "Red Hat Display", sans-serif;
*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  line-height: 1;
  border: none;
  outline: none;
  z-index: 1;
  font-weight: 400;
  font-size: 18px;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background: url(assets/background-right.jpg);
  background-repeat: repeat-y;
  background-position: center right;
  background-attachment: fixed;
  min-width: 1920px;
  width: 100%;
}

iframe {
  width: 100%;
  height: 440px;
  margin-top: 24px;
}

/* ----------------------------------------------------------- */
/* HEADER */

header {
  background-color: #ffffff;
}

header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd2bb;
  padding-top: 42px;
  padding-bottom: 42px;
}

header #nav-user img#header-logo {
  height: 120px;
  margin-right: 24px;
}

header nav ul#nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
}

header nav ul#nav-main li a {
  font-size: 20px;
  color: #5d330d;
}

header nav ul#nav-main li a:hover {
  color: #8b3f2d;
}

header nav ul#nav-main li a {
  padding-top: 6px;
  position: relative;
}

header nav ul#nav-main li a:after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #8b3f2d;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav ul#nav-main li a:hover:after {
  width: 100%;
  left: 0;
}

header #nav-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 40px;
}

header #nav-user #nav-icons {
  display: flex;
  justify-content: center;
  text-align: center;
}

header #nav-user #nav-icons figure {
  margin-left: 24px;
}

header #nav-user #nav-icons figcaption {
  color: #8b3f2d;
  font-family: "ukiranregular";
  font-size: 20px;
  letter-spacing: 2px;
}

header #nav-user #nav-icons img {
  width: 40px;
}

header #nav-user #nav-icons img#fav:hover {
  background: url(assets/icon-fav-alt.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

header #nav-user #nav-icons img#fav {
  background: url(assets/icon-fav.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

header #nav-user #nav-icons img#account:hover {
  background: url(assets/icon-account-alt.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

header #nav-user #nav-icons img#account {
  background: url(assets/icon-account.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

header #nav-user #nav-icons img#basket:hover {
  background: url(assets/icon-basket-alt.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

header #nav-user #nav-icons img#basket {
  background: url(assets/icon-basket.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

header #nav-user #search input::placeholder {
  color: #3b3b3b;
}

header #nav-user #search input {
  color: #8b3f2d;
}

header #nav-user #search {
  border-bottom: 1px solid #8b3f2d;
  padding-bottom: 2px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

header #nav-user #search i {
  color: #b59247;
}

header #header-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b3f2d;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header #header-infos .inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
}

header #header-infos span,
header #header-infos i {
  font-size: 14px;
  color: #ddd2bb;
}

header #header-infos i {
  margin-right: 16px;
}

header #header-infos .inner #livraisons span {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

header #header-infos .inner #livraisons i {
  margin-right: 8px;
}

/* ----------------------------------------------------------- */
/* Nouveautes Jeux */

#nouveautes h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 42px;
  font-size: 60px;
  color: #b59247;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  margin-bottom: 42px;
}

#nouveautes h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #8b3f2d;
  font-family: "ukiranregular";
  letter-spacing: 2px;
}

#jeux-societe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#jeux-societe li {
  width: 293px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 42px;
  border-radius: 8px;
  position: relative;
}

#jeux-societe img {
  margin-bottom: 24px;
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 12px;
  position: relative;
}

#jeux-societe .tag {
  position: absolute;
  z-index: 2;
  background-color: #8b3f2d;
  color: #ddd2bb;
  top: 0px;
  left: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px 0px 80px 0px;
}

#jeux-societe .like {
  position: absolute;
  z-index: 2;
}

#jeux-societe a h3 {
  font-size: 26px;
  height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "ukiranregular";
  color: #8b3f2d;
  letter-spacing: 1px;
}

#jeux-societe a h4 {
  color: #5d330d;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #8b3f2d;
  letter-spacing: 1px;
  background-color: #ddd2bb;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  overflow: hidden;
}

#jeux-societe li:hover {
  opacity: 0.8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#jeux-societe a h5 {
  display: none;
}

#jeux-societe a .stock {
  color: #839b80;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

#jeux-societe a .prix {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  position: relative;
}

#jeux-societe a .prix span {
  color: #8b3f2d;
  font-weight: 500;
}

#jeux-societe a .prix i {
  background-color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  color: #ddd2bb;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 0px;
}

#jeux-societe a .like i {
  color: #8b3f2d;
  font-size: 22px;
}

#nouveautes .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#nouveautes .link a {
  background-color: #8b3f2d;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 8px;
  color: #ddd2bb;
  font-weight: 500;
}

#nouveautes .link a:hover {
  opacity: 0.8;
}

.jeux-societe-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.jeux-societe-container .arrow-left {
  position: absolute;
  left: -20px;
  font-size: 28px;
  background-color: #b59247;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.jeux-societe-container .arrow-right {
  position: absolute;
  right: -20px;
  font-size: 28px;
  background-color: #b59247;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.jeux-societe-container .arrow-right i {
  font-size: 26px;
  color: #ffffff;
  margin-right: -3px;
}
.jeux-societe-container .arrow-left i {
  font-size: 26px;
  color: #ffffff;
  margin-left: -3px;
}

.jeux-societe-container .arrow-left:hover,
.jeux-societe-container .arrow-right:hover {
  opacity: 0.8;
}

/* ----------------------------------------------------------- */
/* Nouveautes Jeux Enfants */

#nouveautes-enfants h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 42px;
  font-size: 60px;
  color: #b59247;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  margin-bottom: 42px;
}

#nouveautes-enfants h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #8b3f2d;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  margin-top: 42px;
}

#jeux-enfants {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#jeux-enfants li {
  width: 293px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 42px;
  border-radius: 8px;
  position: relative;
}

#jeux-enfants img {
  margin-bottom: 24px;
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 12px;
  position: relative;
}

#jeux-enfants .tag {
  position: absolute;
  z-index: 2;
  background-color: #8b3f2d;
  color: #ddd2bb;
  top: 0px;
  left: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px 0px 80px 0px;
}

#jeux-enfants .like {
  position: absolute;
  z-index: 2;
}

#jeux-enfants a h3 {
  font-size: 26px;
  height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "ukiranregular";
  color: #8b3f2d;
  letter-spacing: 1px;
}

#jeux-enfants a h4 {
  color: #5d330d;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #8b3f2d;
  letter-spacing: 1px;
  background-color: #ddd2bb;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  overflow: hidden;
}

#jeux-enfants li:hover {
  opacity: 0.8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#jeux-enfants a h5 {
  display: none;
}

#jeux-enfants a .stock {
  color: #839b80;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

#jeux-enfants a .prix {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  position: relative;
}

#jeux-enfants a .prix span {
  color: #8b3f2d;
  font-weight: 500;
}

#jeux-enfants a .prix i {
  background-color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  color: #ddd2bb;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 0px;
}

#jeux-enfants a .like i {
  color: #8b3f2d;
  font-size: 22px;
}

#nouveautes-enfants .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#nouveautes-enfants .link a {
  background-color: #8b3f2d;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 8px;
  color: #ddd2bb;
  font-weight: 500;
}

#nouveautes-enfants .link a:hover {
  opacity: 0.8;
}

.jeux-enfants-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.jeux-enfants-container .arrow-left {
  position: absolute;
  left: -20px;
  font-size: 28px;
  background-color: #b59247;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.jeux-enfants-container .arrow-right {
  position: absolute;
  right: -20px;
  font-size: 28px;
  background-color: #b59247;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.jeux-enfants-container .arrow-right i {
  font-size: 26px;
  color: #ffffff;
  margin-right: -3px;
}
.jeux-enfants-container .arrow-left i {
  font-size: 26px;
  color: #ffffff;
  margin-left: -3px;
}

.jeux-enfants-container .arrow-left:hover,
.jeux-enfants-container .arrow-right:hover {
  opacity: 0.8;
}

/* ----------------------------------------------------------- */
/* Precommandes Jeux */

#precommandes {
  background: url(assets/center-right.png) no-repeat center left,
    url(assets/center-left.png) no-repeat center right;
  background-color: #8b3f2d;
  margin-top: 42px;
  padding-top: 42px;
  padding-bottom: 42px;
}

#precommandes h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-family: "ukiranregular";
  letter-spacing: 2px;
}

#jeux-precommandes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#jeux-precommandes li {
  width: 293px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  padding: 42px;
  border-radius: 8px;
  position: relative;
}

#jeux-precommandes img {
  margin-bottom: 24px;
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 12px;
  position: relative;
}

#jeux-precommandes .tag {
  position: absolute;
  z-index: 2;
  background-color: #ddd2bb;
  color: #8b3f2d;
  top: 0px;
  left: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px 0px 80px 0px;
}

#jeux-precommandes .like {
  position: absolute;
  z-index: 2;
}

#jeux-precommandes a h3 {
  font-size: 26px;
  height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "ukiranregular";
  color: #8b3f2d;
  letter-spacing: 1px;
}

#jeux-precommandes a h4 {
  color: #5d330d;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #8b3f2d;
  letter-spacing: 1px;
  background-color: #ddd2bb;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  overflow: hidden;
}

#jeux-precommandes li:hover {
  opacity: 0.8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#jeux-precommandes a h5 {
  display: none;
}

#jeux-precommandes a .stock {
  color: #5d330d;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

#jeux-precommandes a .prix {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  position: relative;
}

#jeux-precommandes a .prix span {
  color: #8b3f2d;
  font-weight: 500;
}

#jeux-precommandes a .prix i {
  background-color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  color: #ddd2bb;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 0px;
}

#jeux-precommandes a .like i {
  color: #8b3f2d;
  font-size: 22px;
}

#precommandes .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#precommandes .link a {
  background-color: #ffffff;
  color: #8b3f2d;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 8px;
  font-weight: 500;
}

#precommandes .link a:hover {
  opacity: 0.8;
}

.jeux-precommandes-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.jeux-precommandes-container .arrow-left {
  position: absolute;
  left: -20px;
  font-size: 28px;
  background-color: #ddd2bb;
  color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.jeux-precommandes-container .arrow-right {
  position: absolute;
  right: -20px;
  font-size: 28px;
  background-color: #ddd2bb;
  color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.jeux-precommandes-container .arrow-right i {
  font-size: 26px;
  color: #8b3f2d;
  margin-right: -3px;
}
.jeux-precommandes-container .arrow-left i {
  font-size: 26px;
  color: #8b3f2d;
  margin-left: -3px;
}

.jeux-precommandes-container .arrow-left:hover,
.jeux-precommandes-container .arrow-right:hover {
  opacity: 0.8;
}

/* ----------------------------------------------------------- */
/* Equipe */

.equipe-container {
  padding-bottom: 24px;
}

#equipe {
  background: url(assets/heart.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: fixed;
  background-color: #ffffff;
}

#jeux-equipe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

#jeux-equipe li {
  width: 620px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 42px;
  border-radius: 8px;
  margin-bottom: 42px;
}

#jeux-equipe .avatar {
  display: flex;
  flex-direction: column;
  width: 140px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#jeux-equipe .avatar img {
  width: 100%;
}

#jeux-equipe .jeu {
  width: 360px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  border-left: 4px dashed #ddd2bb;
  padding-left: 42px;
}

#jeux-equipe .avatar h4 {
  font-family: "ukiranregular";
  text-align: center;
  color: #8b3f2d;
  letter-spacing: 2px;
  font-size: 30px;
}

#jeux-equipe .avatar p {
  margin-top: 8px;
  font-family: "ukiranregular";
  text-align: center;
  color: #8b3f2d;
  letter-spacing: 2px;
}

#jeux-equipe .avatar h2 {
  margin-top: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8b3f2d;
}

#jeux-equipe h3 {
  font-family: "ukiranregular";
  color: #5d330d;
  font-size: 30px;
  margin-top: 8px;
}

#jeux-equipe .jeu .illustration {
  display: flex;
  align-items: center;
}

#jeux-equipe .jeu .illustration img {
  height: 100px;
  margin-right: 12px;
}

#jeux-equipe .jeu .avis p {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 14px;
  color: #5d330d;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 158px;
}

#jeux-equipe .jeu a {
  background-color: #ddd2bb;
  margin-top: 12px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #8b3f2d;
  font-weight: 500;
  border-radius: 8px;
}

#jeux-equipe .jeu a:hover {
  opacity: 0.8;
}

#equipe h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #8b3f2d;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  padding-top: 42px;
  margin-bottom: 42px;
}

/* ----------------------------------------------------------- */
/* Filtres */

.reco {
  background-color: #ddd2bb;
  padding-top: 42px;
  padding-bottom: 84px;
  margin-top: 0px;
}

.filtres {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 293px;
  color: #5d330d;
}

.filter h4 .icon-filter i {
  margin-right: 12px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #b59247;
}

.filter h4 {
  font-family: "ukiranregular";
  color: #8b3f2d;
  font-size: 26px;
  margin-top: 8px;
  letter-spacing: 1px;
  display: flex;
}

.filter span.info-jeu {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  width: 293px;
  cursor: pointer;
  margin-top: 8px;
}

.filter span i {
  margin-left: 8px;
  color: #8b3f2d;
}

/* ----------------------------------------------------------- */
/* Reco jeux */

#jeux-reco {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#jeux-reco li {
  width: 293px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  padding: 42px;
  border-radius: 8px;
  position: relative;
}

#jeux-reco img {
  margin-bottom: 24px;
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 12px;
  position: relative;
}

#jeux-reco .tag {
  position: absolute;
  z-index: 2;
  background-color: #8b3f2d;
  color: #ddd2bb;
  top: 0px;
  left: 0px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px 0px 80px 0px;
}

#jeux-reco .like {
  position: absolute;
  z-index: 2;
}

#jeux-reco a h3 {
  font-size: 26px;
  height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "ukiranregular";
  color: #8b3f2d;
  letter-spacing: 1px;
}

#jeux-reco a h4 {
  color: #5d330d;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #8b3f2d;
  letter-spacing: 1px;
  background-color: #ddd2bb;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 20px;
  overflow: hidden;
}

#jeux-reco li:hover {
  opacity: 0.8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#jeux-reco a h5 {
  display: none;
}

#jeux-reco a .stock {
  color: #839b80;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

#jeux-reco a .prix {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
  position: relative;
}

#jeux-reco a .prix span {
  color: #8b3f2d;
  font-weight: 500;
}

#jeux-reco a .prix i {
  background-color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  color: #ddd2bb;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  right: 0px;
}

#jeux-reco a .like i {
  color: #8b3f2d;
  font-size: 22px;
}

.jeux-reco-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

#reco h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #5d330d;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  padding-top: 42px;
  margin-bottom: 42px;
}

#reco h2.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  color: #8b3f2d;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  padding-top: 42px;
  margin-bottom: 32px;
}

/* ----------------------------------------------------------- */
/* Divers */

.divers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-bottom: 42px;
  align-items: end;
}

.divers .event img {
  border-radius: 8px;
}

.newsletter {
  background: url(assets/newsletter.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 620px;
  height: 480px;
}

.newsletter h1 {
}

.newsletter h2 {
}

.event h1 {
  font-size: 42px;
  color: #8b3f2d;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  text-align: center;
}

.event h2 {
  font-size: 32px;
  color: #b59247;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  margin-top: 6px;
  text-align: center;
  margin-bottom: 12px;
}

.image-event {
  position: relative;
  display: flex;
  align-items: center;
}

.image-event .arrow-left {
  position: absolute;
  left: -20px;
  font-size: 28px;
  background-color: #ddd2bb;
  color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.image-event .arrow-right {
  position: absolute;
  right: -20px;
  font-size: 28px;
  background-color: #ddd2bb;
  color: #8b3f2d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

.image-event .arrow-right:hover,
.image-event .arrow-left:hover {
  opacity: 0.8;
}

.newsletter img {
  height: 120px;
}

.newsletter h3 {
  margin-top: 24px;
  font-weight: 500;
}

.newsletter input {
  padding: 12px;
  border-radius: 8px;
  margin-top: 8px;
  background-color: #ddd2bb;
  width: 100%;
  max-width: 320px;
  color: #8b3f2d;
  text-align: center;
  font-weight: 500;
  border: 2px dashed #ddd2bb;
  margin-top: 24px;
}

/* ----------------------------------------------------------- */
/* Footer */

footer {
  background-color: #8b3f2d;
  padding-bottom: 82px;
  padding-top: 42px;
}

footer .inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

footer .inner .menu {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-top: 24px;
}

footer .inner .menu div {
  display: flex;
  flex-direction: column;
}

footer .inner .menu h4 {
  color: #ddd2bb;
  font-size: 24px;
  font-family: "ukiranregular";
  letter-spacing: 2px;
  margin-bottom: 12px;
}

footer .inner .menu a {
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 500;
}

.icons-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

.icons-footer img {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.icons-footer h4 {
  color: #8b3f2d;
  font-size: 24px;
  font-family: "ukiranregular";
  letter-spacing: 2px;
}

.icons-footer h5 {
  font-weight: 500;
  color: #b59247;
  font-size: 16px;
  margin-top: 4px;
}

.icons-footer div {
  width: 293px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 42px;
  border-radius: 8px;
  position: relative;
  border-radius: 8px;
}

/* ----------------------------------------------------------- */
/* Banner */

.banner {
  width: 1280px;
  height: 280px;
  background: url(assets/banniere.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

html body div.banner div.nextprev {
  position: absolute;
  bottom: 18px;
}

html body div.banner div.nextprev span.other {
  opacity: 0.4;
  color: #ffffff;
}

html body div.banner div.nextprev span.other:hover {
  opacity: 1;
  color: #ffffff;
}

.banner .nextprev i {
  font-size: 16px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}

html body div.banner div.nextprev span.white {
  opacity: 1;
  color: #ffffff;
}

/* ----------------------------------------------------------- */
/* Hidden */

#hidden-nav {
  width: 100%;
  min-width: 320px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: rgb(255, 255, 255, 0.6);
  display: none;
}

#hidden-nav .inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-bottom: 42px;
  align-items: end;
}

.hidden-listing {
  display: flex;
}

.link-hidden {
  display: flex;
}

.hidden-menu {
  display: flex;
  margin-right: 32px;
  flex-direction: column;
  width: 420px;
}

.hidden-menu a {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  font-weight: 500;
  color: #8b3f2d;
  border-radius: 4px;
  padding: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
}

.hidden-menu a:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  background-color: #ddd2bb;
  opacity: 0.5;
  font-weight: 500;
  color: #8b3f2d;
  border-radius: 4px;
  padding: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.hidden-image {
  display: flex;
  flex-direction: column;
  width: 376px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.hidden-image a:hover {
  opacity: 0.7;
}

.image-a {
  height: 156px;
  width: 100%;
  background-color: #8b3f2d;
  margin-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.image-b {
  height: 156px;
  width: 100%;
  background-color: #8b3f2d;
  margin-top: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.hidden-image img {
  border-radius: 4px;
  object-fit: cover;
}

.link-1 {
  display: none;
}
